.contact-content {
    height:wrap;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.info-content {
    height: auto;
    width: 40%;
    text-align: center;
    padding: 10px;
}
.info-content-detail{
    text-align: left;
    padding: 10px;
}
.form-content {
    height: auto;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.form-content fieldset{
    border: 10px solid #FF0000;
    border-radius: 20px;
}
.form-content input{
    width: 90%;
    padding: 17px;
    margin: 5px;
    border: 1px solid #FF0000;
    border-radius: 10px;
    align-content: center;
}
