.footer {
  background-color: #fdf3ec;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.company-info h4 {
  color: #1b5e20;
  font-weight: bold;
}

.company-info p {
  color: #666;
  margin: 5px 0;
  width: 500px; /*Chiều dài font chữ ở giữa*/
}

.bus-image img {
  width: 125px;
  margin-bottom: 10px;
}

.bus-image p:first-child {
  font-weight: bold;
  color: #006400;
}

.bus-image p:last-child {
  font-size: 12px;
  color: #ff5722;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.social-media h4 {
  margin-bottom: 10px;
  color: #006400;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  vertical-align: middle; /* Đảm bảo biểu tượng nằm giữa theo chiều dọc */
}

.bus-icon {
  width: auto; /*Độ dài và rộng của logo ở footer*/
  height: auto;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
