.main-content {
  padding: 20px;
  height: auto;
}

.search-section {
  margin: 20px 0;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-group select {
  background-color: white;
}

.search-button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #e05a00;
}

.promotion-section, .popular-routes-section {
  margin-top: 40px;
}

.trip-table-section,
.search-results-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e0e0e0;
}

.search-results-section {
  margin-top: 40px;
  text-align: center;
  display: inline;
}

.search-results-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.search-results-section table {
  width: 80%;
  margin: 0 auto;
}

.popular-routes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.slideshow-image {
  width: 100%;
  height: 550px;
  border-radius: 10px;
}

.slideshow-image img {
  width: 550px;
  height: 550px;
}
