.ql-ben-container {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

/* Định dạng thanh tìm kiếm */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 20px auto;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Định dạng ô nhập tìm kiếm */
.search-input {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 25px 0 0 25px;
}

/* Định dạng nút tìm kiếm */
.search-button {
  border: none;
  background-color: #ffffff;
  color: white;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #f37021;
}

.table-container {
  border: 1px solid #f37021;
  padding: 20px;
  border-radius: 15px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.station-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.station-table th,
.station-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.station-table th {
  background-color: #f37021;
  color: white;
}

.station-table td {
  text-align: left; /*Căn chữ bên trái*/
}

.detail-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #f37021;
  background-color: white;
  color: #f37021;
}

.create-button {
  background-color: #f37021;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
